<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fabric Editor</title>
  <link rel="stylesheet" type="text/css" href="assets/css/material.indigo-pink.min.css">
  <link rel="stylesheet" type="text/css" href='assets/css/colpick.css' />
  <link rel="stylesheet" type="text/css" href="assets/css/jsoneditor.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/gToolbars-0.2.0.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="assets/js/fabric.js"></script>
</head>
<body>
  <div id="app">
    <div class="gt-toolbar">

      <div id="toolbar-undo" class="gt-button"></div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-undo">Undo</div>

      <div id="toolbar-redo" class="gt-button"></div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-redo">Redo</div>

      <div class="gt-separator"></div>

      <div  class="gt-button gt-dropdown" style="background-image: url(icons/insert-text.png);">
        <div class="gt-arrow"></div>

        <div class="gt-submenu gt-noselect gt-noshow">
          <div class="gt-submenu-item" id="toolbar-text">
            Pure textbox
          </div>
          <div class="gt-submenu-item" id="toolbar-datatext">
            Data textbox
          </div>
        </div><!-- /toolbar-submenu -->
      </div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-text">Insert Text</div>

      <!-- <div id="toolbar-shape" class="gt-button gt-dropdown">
        <div class="gt-arrow"></div>
      
        <div class="gt-submenu gt-noselect gt-noshow">
          <div class="gt-submenu-item" id="toolbar-circle">
            <img src="icons/circle.png" class="gt-submenu-icon">
            Circle
          </div>
          <div class="gt-submenu-item" id="toolbar-rectangle">
            <img src="icons/rectangle.png" class="gt-submenu-icon">
            Rectangle
          </div>
        </div>/toolbar-submenu
      </div>/toolbar-shape
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-shape">Insert Shape</div> -->

      <div id="image-function" class="gt-button gt-dropdown" style="background-image: url(icons/new-image.png);">
        <div class="gt-arrow"></div>
        <div class="gt-submenu gt-noselect gt-noshow">
            <div class="gt-submenu-item" id="toolbar-image" data-title="image">
              New Image
            </div>
            <div class="gt-submenu-item dataimage" data-title="data image" data-object="image_random">
              New data image random
            </div>
            <div class="gt-submenu-item dataimage" data-title="data image byGender" data-object="image_byGender">
              New data image by Gender
            </div>
            <div class="gt-submenu-item" id="change-background-image">
              Change background image
            </div>
            <div class="gt-submenu-item" id="image-to-background">
              Image to background
            </div>
            <div class="gt-submenu-item" id="delete-background-image" v-show="hasBackgroundImage">
              Delete background image
            </div>
          </div><!-- /toolbar-submenu -->
      </div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="image-function">Image functions</div>

      <div id="user-functions" class="gt-button gt-dropdown" style="background-image: url(icons/user.png);">
        <div class="gt-arrow"></div>
        <div class="gt-submenu gt-noselect gt-noshow">

            <div class="gt-submenu-item fb-image" data-title="Avatar" data-object='profile' id="profile-image">
              Profile image
            </div>
            <div class="gt-submenu-item fb-image" data-title="Avatar by Year" data-object="photo_avatar_by_year" id="profile-image-byYear">
              Profile image byYear
            </div>
            <div class="gt-submenu-item fb-image" data-title="Photo recent" data-object="photo_fb_recent" id="photo-recent">
              Photo Recent
            </div>
            <div class="gt-submenu-item fb-image" data-title="Photo Top Like" data-object="photo_fb_top_like" id="photo-top-like">
              Photo Top Like
            </div>
            <div class="gt-submenu-item fb-image" data-title="Album Profile" data-object="photo_fb_album_profile_random" id="album-profile">
              Album profile
            </div>
            <div class="gt-submenu-item fb-image" data-title="Album Photo" data-object="photo_fb_album_photo_random" id="album-photo">
              Album photo
            </div>
            
          </div><!-- /toolbar-submenu -->
      </div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="user-functions">User functions</div>

      <div id="friend-functions" class="gt-button gt-dropdown" style="background-image: url(icons/user-friend.png);">
        <div class="gt-arrow"></div>
        <div class="gt-submenu gt-noselect gt-noshow">
            <div class="gt-submenu-item fb-image" data-title="Photo's Friend Random" data-object="photo_fb_friend_random" id="photo_fb_friend_random">
              Photo_fb Friend random
            </div>
            <div class="gt-submenu-item fb-image" data-title="Photo's Friend by Gender" data-object="photo_fb_friend_random_byGender" id="photo_fb_friend_random_byGender">
              Photo_fb Friend random by Gender
            </div>
            <div class="gt-submenu-item fb-image" data-title="Top Photo's Friend by Gender" data-object="photo_fb_friend_top_byGender" id="photo_fb_friend_top_byGender">
              Photo_fb Top Friend by Gender
            </div>
            <div class="gt-submenu-item fb-image" data-title="Photo's Friend have top like" data-object="photo_fb_friend_top_like" id="photo_fb_friend_top_like">
              Photo_fb Friend Top Like
            </div>
            <div class="gt-submenu-item fb-image" data-title="Photo's Friend have top comment" data-object="photo_fb_friend_top_comment" id="photo_fb_friend_top_comment">
              Photo_fb Friend Top Comment
            </div>
            <div class="gt-submenu-item fb-image" data-title="Photo's Friend have top Contact" data-object="photo_fb_friend_top_contact" id="photo_fb_friend_top_contact">
              Photo_fb Friend Top Contact
            </div>
            
          </div><!-- /toolbar-submenu -->
      </div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-new-image">Friend functions</div>

      <div class="gt-separator"></div>

      <div v-show="objectSelected">
        <div id="toolbar-arrange" class="gt-button gt-dropdown" >
          <span class="gt-title">Arrange</span>
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-noshow">
            <div class="gt-submenu-item" id="toolbar-send-backward">
              <img src="icons/send-backward.png" class="gt-submenu-icon">
              Send Backward
            </div>
            <div class="gt-submenu-item" id="toolbar-bring-forward">
              <img src="icons/bring-forward.png" class="gt-submenu-icon">
              Bring Forward
            </div>
          </div><!-- /toolbar-submenu -->
        </div>

        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-arrange">Arrange Objects</div>

        <div class="gt-separator"></div>

        <div id="toolbar-movement" class="gt-button gt-dropdown" style="background-image: url(icons/movement.png);">
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-noshow">

            <div v-bind:class="{ 'gt-button-active': movement.lockMovementX }" class="gt-submenu-item" id="toolbar-verticalmovement" action="lock">
              {{ movement.lockX }} Movement
            </div>
            <div v-bind:class="{ 'gt-button-active': movement.lockMovementY }" class="gt-submenu-item" id="toolbar-horizonalmovement" action="lock">
              {{ movement.lockY }} Movement
            </div>
          </div><!-- /toolbar-submenu -->
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-movement">Object Movement</div>

        <div id="toolbar-scaling" class="gt-button gt-dropdown" style="background-image: url(icons/scaling.png);">
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-noshow">

            <div v-bind:class="{ 'gt-button-active': scale.lockScalingX }" class="gt-submenu-item" id="toolbar-verticalscaling">
              Lock Vertical Scaling
            </div>
            <div v-bind:class="{ 'gt-button-active': scale.lockScalingY }" class="gt-submenu-item" id="toolbar-horizonalscaling">
              Lock Horizonal Scaling
            </div>
            
            <div v-bind:class="{ 'gt-button-active': scaleToResize }" class="gt-submenu-item" id="toolbar-scaletoresize">
              Scale to Resize
            </div>
          </div><!-- /toolbar-submenu -->
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-scaling">Object scaling</div>

        <div id="toolbar-rotation" class="gt-button gt-dropdown" style="background-image: url(icons/rotation.png);">
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-noshow">
            <div class="gt-submenu-item" id="toolbar-lockrotation">
              Lock Rotation
            </div>
            <div class="gt-submenu-item" id="toolbar-lockrotation-flip" action="lock">
              Lock Rotation Flip
            </div>
          </div><!-- /toolbar-submenu -->
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-rotation">Rotation</div>

        <div class="gt-separator"></div>

        <div id="toolbar-fill-color" class="gt-button gt-dropdown">
          <div class="gt-arrow"></div>
          <div class="gt-submenu gt-noshow">
            <input type="text" id="color-picker" v-model="prop.fill"/>
          </div>
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-fill-color">Fill Color</div>

        <div id="toolbar-backgroundcolor" class="gt-button gt-dropdown" style="background-image: url(icons/background-color.png);">
          <div class="gt-arrow"></div>
          <div class="gt-submenu gt-noshow">
            <input type="text" id="background-color-picker" v-model="prop.backgroundColor"/>
          </div>
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-backgroundcolor">Background Color</div>

        <div id="toolbar-border" class="gt-button gt-dropdown" style="background-image: url(icons/border.png);">
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-noshow">
            <div class="gt-submenu-item" id="toolbar-strokecolor">
              Color
              <input type="text" id="stroke-fill" v-model="prop.stroke"/>
            </div>
            <div class="gt-submenu-item" id="toolbar-strokewidth">
              Width
              <input type="range" id="stroke-width" v-model="prop.strokeWidth" min="0" max="30"/>
            </div>
          </div><!-- /toolbar-submenu -->
        </div><!-- /toolbar-border -->
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-border">Stroke</div>

        <div class="gt-separator"></div>

        <div id="toolbar-gradient" class="gt-button" style="background-image: url(icons/gradient.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-gradient">Gradient</div>

        <div id="toolbar-shadow" class="gt-button" style="background-image: url(icons/shadow.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-shadow">Shadow</div>

        <div id="toolbar-radius" class="gt-button" style="background-image: url(icons/radius.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-radius">Radius</div>

        <div class="gt-separator"></div>

        <div id="toolbar-newdata" class="gt-button" style="background-image: url(icons/data-new.png);" v-show="hasData === false"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-newdata">Add Data to Object</div>
        <div id="toolbar-deletedata" class="gt-button" style="background-image: url(icons/data-delete.png);" v-show="hasData"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-deletedata">Delete data in Object</div>
        <div class="gt-separator"></div>

        <div id="toolbar-aligntop" class="gt-button v-align" v-bind:class="{ 'gt-button-active': (prop.originY == 'top') }" prop="originY" val="top"  style="background-image: url(icons/vertical-top.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-aligntop">Vertical align Top</div>

        <div id="toolbar-alignmiddle" class="gt-button v-align" v-bind:class="{ 'gt-button-active': (prop.originY == 'center') }" prop="originY" val="center" style="background-image: url(icons/vertical-middle.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-alignmiddle">Vertical align Middle</div>

        <div id="toolbar-alignbottom" class="gt-button v-align" v-bind:class="{ 'gt-button-active': (prop.originY == 'bottom') }" prop="originY" val="bottom" style="background-image: url(icons/vertical-bottom.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-alignbottom">Vertical align Bottom</div>
      </div>


      <div id="toolbar-effects" class="gt-button gt-dropdown">
        <div class="gt-arrow"></div>
        <div class="gt-submenu gt-noselect gt-noshow gt-no-auto-close">
          <p>You can put anything <br/> you want in here.</p>
        </div>
      </div>
      <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-effects">Effects</div>
    </div><!-- /toolbar common object -->

    <div class="gt-toolbar">
      <div v-show="textObject">
        <div id="toolbar-font-size" class="gt-button gt-input gt-dropdown" style="width: 80px;">
          <img src="icons/text-size.png" class="gt-submenu-icon" style="float: left; margin: 6px 0 0 0;">
          <input type="text" id="font-size" maxlength="3" class="gt-text-input gt-title gt-autoupdate" style="float: none;" v-model="textbox.fontSize">
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-scrolling gt-noshow">
            <div class="gt-submenu-item">
              <span>10</span>
            </div>
            <div class="gt-submenu-item gt-default">
              <span>12</span>
            </div>
            <div class="gt-submenu-item">
              <span>14</span>
            </div>
          </div><!-- /toolbar-submenu -->

        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-font-size">Font Size</div>

        <div class="gt-separator"></div>

        <div id="toolbar-font-family" class="gt-button gt-dropdown gt-noselect">
          <input type="text" id="current-font" class="gt-text-input gt-title gt-autoupdate" style="float: none;width: 100%" v-model="textbox.fontFamily" v-on:change="changeProp()">
        
          <div class="gt-arrow"></div>

          <div class="gt-submenu gt-noselect gt-scrolling gt-noshow">
            <div class="gt-submenu-item">
              <span>Tahoma</span>
            </div>
            <div class="gt-submenu-item gt-default">
              <span>Arial</span>
            </div>
          </div><!-- /toolbar-submenu -->

        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-font-family">Font</div>

        <div class="gt-separator"></div>

        <!-- <div id="toolbar-fontcolor" class="gt-button" style="background-image: url(icons/text-color.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-fontcolor">Font Color</div> -->

        <div id="toolbar-bold" class="gt-button text-style" v-bind:class="{ 'gt-button-active': (textbox.fontWeight == 'bold') }" prop="fontWeight" val="bold"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-bold">Bold</div>

        <div id="toolbar-italics" class="gt-button text-style" v-bind:class="{ 'gt-button-active': (textbox.fontStyle == 'italic') }" prop="fontStyle" val="italic"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-italic">Italics</div>

        <div id="toolbar-underline" class="gt-button text-decoration" v-bind:class="{ 'gt-button-active': (textbox.underline) }" prop="underline"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-underline">Underline</div>

        <div id="toolbar-strikethrough" class="gt-button text-decoration" v-bind:class="{ 'gt-button-active': (textbox.linethrough) }" prop="linethrough" style="background-image: url(icons/text-strikethrough.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-strikethrough">Line through</div>

        <div id="toolbar-charspacing" class="gt-button gt-dropdown" style="background-image: url(icons/char-spacing.png);">
          <div class="gt-arrow"></div>
          <div class="gt-submenu gt-noshow">
            <input type="range" class="range-style" prop="charSpacing" v-model="textbox.charSpacing" min="-200" max="800" step="10"/>
          </div>
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-charspacing">Letter spacing</div>

        <div id="toolbar-lineheight" class="gt-button gt-dropdown" style="background-image: url(icons/lineheight.png);">
          <div class="gt-arrow"></div>
          <div class="gt-submenu gt-noshow">
            <input type="range" class="range-style" prop="lineHeight" v-model="textbox.lineHeight" min="0" max="10" step="0.1"/>
          </div>
        </div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-lineheight">Line height</div>

        <div class="gt-separator"></div>

        <div id="toolbar-alignleft" class="gt-button textAlign" v-bind:class="{ 'gt-button-active': (textbox.textAlign == 'left') }" prop="textAlign" val="left" style="background-image: url(icons/align-left.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-alignleft">Text-align Left</div>

        <div id="toolbar-aligncenter" class="gt-button textAlign" v-bind:class="{ 'gt-button-active': (textbox.textAlign == 'center') }" prop="textAlign" val="center" style="background-image: url(icons/align-center.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-aligncenter">Text-align Center</div>

        <div id="toolbar-alignright" class="gt-button textAlign" v-bind:class="{ 'gt-button-active': (textbox.textAlign == 'right') }" prop="textAlign" val="right" style="background-image: url(icons/align-right.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-alignright">Text-align Right</div>

        <div id="toolbar-alignjustify" class="gt-button textAlign" v-bind:class="{ 'gt-button-active': (textbox.textAlign == 'justify') }" prop="textAlign" val="justify" style="background-image: url(icons/align-justify.png);"></div>
        <div class="mdl-tooltip mdl-tooltip--large gt-noselect" for="toolbar-alignjustify">Text-align Justify</div>

        
      </div><!-- tool for textbox -->

      <div v-show="imageObject">

      </div><!-- tool for image -->
    </div><!-- /toolbar for specific object -->
    
    <div style="width:100%; float:left; position: relative;">
      <div style="width:70%; float:left; position: relative; overflow: auto;">
        <div style="position:relative;width:800px;float:left;border-right: 1px solid #aaa;margin: 15px; background: url(assets/images/graph-image.gif) repeat" id="canvas-wrapper" tabindex="1">
          <canvas id="c-layout" width="800" height="420" ></canvas>
        </div>
      </div>

      <div style="width:30%; float:left; position: relative;">
        <div style="border: 1px solid #aaa; margin: 15px;padding:10px;" id="data" v-show="hasData">
          <div v-show="(dataType == 'data-text')">
            <select id="" v-model="argument" v-on:change="changeItem()">
              <option value="random">By random</option>
              <option value="gender">By gender</option>
            </select>
            <a href="#" class="btn btn-primary btn-xs" v-on:click="addItem()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <span><strong>Add</strong></span>            
            </a>
            <div id="randomContent" v-show="(argument == 'random')" style="margin-top: 10px;">
              <div class="form-group" v-for="(item, index) in items">
                <textarea rows="3" class="form-control" v-on:keypress="changeItem()" v-model="item.content">{{ item.content }}</textarea>
                <a href="#" class="btn btn-primary" v-on:click="deleteItem(index)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>            
                </a>
              </div>
            </div>
            <div v-show="(argument == 'gender')">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#male" v-on:click="changeGender('male')">Male</a></li>
                <li><a data-toggle="tab" href="#female" v-on:click="changeGender('female')">Female</a></li>
                <li><a data-toggle="tab" href="#common" v-on:click="changeGender('common')">Common</a></li>
              </ul>
              <div class="tab-content">
                <div id="male" class="tab-pane fade in active">
                  <div class="form-group" v-for="(item, index) in items">
                    <div v-if="item.type == 'male'">
                      <textarea rows="3" class="form-control" v-on:change="changeItem()" v-model="item.content">{{ item.content }}</textarea>
                      <a href="#" class="btn btn-primary" v-on:click="deleteItem(index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Delete</strong></span>            
                      </a>
                    </div>
                      
                  </div>
                </div>
                <div id="female" class="tab-pane fade">
                  <div class="form-group" v-for="(item, index) in items">
                    <div v-if="item.type == 'female'">
                      <textarea rows="3" class="form-control" v-on:change="changeItem()" v-model="item.content">{{ item.content }}</textarea>
                      <a href="#" class="btn btn-primary" v-on:click="deleteItem(index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Delete</strong></span>            
                      </a>
                    </div>
                  </div>
                </div>
                <div id="common" class="tab-pane fade">
                  <div class="form-group" v-for="(item, index) in items">
                    <div v-if="item.type == 'common'">
                      <textarea rows="3" class="form-control" v-on:change="changeItem()" v-model="item.content">{{ item.content }}</textarea>
                      <a href="#" class="btn btn-primary" v-on:click="deleteItem(index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Delete</strong></span>            
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-show="(dataType == 'data-text')">
            
          </div>
        </div>
        <div id="monitor" style="max-height:500px; overflow-y:auto;">
        </div>
      </div>
      <canvas id="myCanvas" width="200" height="400" style="display: none">
    </div><!-- layout canvas : canvas-wrapper -->
    
  </div>

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script defer src="assets/js/gToolbars-0.2.0.js"></script>
  <script defer src="assets/js/material.min.js"></script>
  <script defer src="assets/js/colpick.js"></script>
  <script src="assets/js/jsoneditor.min.js"></script>
  <script src="assets/js/utils.js"></script>
  <script>

    var consoleJSON = '{"version":"2.3.6","objects":[]}';
    var fabricJSON = JSON.parse(consoleJSON);
    console.log(fabricJSON);
    var state = [consoleJSON];

    $(document).on('click', '#app button', function (e) {
        e.preventDefault();
        e.stopPropagation();
    });
    $(document).on('keypress', '#app input', function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            e.stopPropagation();
        }
    });
  </script>
  <script src="dist/build.js"></script>
</body>
</html>
